html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
}

body {
    background: #ffffff url('../img/background1.jpeg'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: #84e184;
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #e6e600;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

.deck .card.notmatch {
     background: #ff5050;
     font-size: 33px;
}

.deck .card.disabled {
    pointer-events: none;
    opacity: 0.9;
}
/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 660px;
    margin: 10px;
    padding: 10px;
    border-radius: 30px;
    background: #ffff99;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.show-timer {
    display: inline-block;
    margin: 0 9rem;
}

.stars .decrease {
    visibility: collapse;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

#msgRating li {
    display: inline-block;
}

/*
* Modal
*/

.win {
    position: fixed;
    visibility: hidden;
    background: rgb(255, 255, 204, 0.7);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

}


.message {
    padding: 20px;
    margin: 80px auto;
    border-radius: 10px;
    position: relative;
    background-color: #ffffff;
    text-align: center;
    width: 70%;
    opacity: 1;
}


.show {
    visibility: visible;
    opacity: 100;

}
#play-again {
    position: relative;
    background: #ffff66;
    border-radius: 5px;
    margin: 10px auto;
    padding: 10px;
    width: 50%;
    justify-content: center;
    font-size: 30px;
}

/*Media Queries*/

@media only screen and (min-width: 320px) and (max-width: 425px) {
    .deck {
        width: 100%;
    }
    .deck.card {
        width: 20%;
    }
    .score-panel {
        width: 70%;
    }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
    .deck {
        width: 600px;
    }
    .deck.card {
        width: 125px;
        height: 125px;
    }
    .score-panel {
        width: 90%;
    }
}